<?xml version="1.0" encoding="UTF-8"?>

<!-- 
Website
@see https://phpunit.de

Doc
@see https://phpunit.readthedocs.io
-->

<!-- avoir infection errors when no network -->
<!-- xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd" -->
<phpunit 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    bootstrap="../../vendor/autoload.php"
    cacheResultFile="../../var/cache/.phpunit.result.cache"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    executionOrder="random"
    forceCoversAnnotation="false"
    processIsolation="false"
    resolveDependencies="true"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    stopOnRisky="false"
    timeoutForSmallTests="1"
    timeoutForMediumTests="10"
    timeoutForLargeTests="60"
    verbose="false"
>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory phpVersionOperator=">" phpVersion="8.1">../../tests</directory>
        </testsuite>
    </testsuites>

    <coverage 
        cacheDirectory="../../var/cache" 
        includeUncoveredFiles="true"
        processUncoveredFiles="true"
        pathCoverage="false"
        ignoreDeprecatedCodeUnits="true"
        disableCodeCoverageIgnore="true"
    >
        <include>
            <directory suffix=".php">../../src</directory>
        </include>
        <exclude>
            <directory>../../src/*Bundle</directory>
        </exclude>

        <report>
            <html outputDirectory="../../var/coverage/html-coverage" lowUpperBound="50" highLowerBound="90"/>
            <text outputFile="../../var/coverage/text-coverage.txt" showUncoveredFiles="false" showOnlySummary="false"/>
        </report>
    </coverage>

    <php>
        <ini name="display_errors" value="on" />
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="APP_SECRET" value="blob"/>
        <server name="CORS_ALLOW_ORIGIN" value="true"/>
        <server name="DATABASE_URL" value=""/>
        <server name="KERNEL_CLASS" value="App\Kernel"/>
        <server name="SHELL_VERBOSITY" value="-1"/>
        <server name="SYMFONY_PHPUNIT_REMOVE" value="" />
        <server name="SYMFONY_PHPUNIT_VERSION" value="9.5" />
    </php>

    <logging>
        <testdoxHtml outputFile="../../var/logs/phpunit-testdox.html"/>
        <testdoxText outputFile="../../var/logs/phpunit-testdox.log"/>
    </logging>

    <!-- "@group" annotation -->
    <groups>
        <exclude>
            <group>functional</group>
        </exclude>
    </groups>

    <!--listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners-->

</phpunit>