{% extends 'base.html.twig' %}

{% block title %}Data{% endblock %}

{% block body %}

    <section id="cloud" class="text-center mt-100">
        <div class="px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-12">
                    <h2 class="mb-4">Cloud</h2>

                    <div class="container">
                        <div class="row">
                            <div class="col col-6 mt-4">
                                <form>
                                    {#% include "common/_button.html.twig" with {
                                    
                                    } %#}
                                </form>
                            </div>

                            <div class="col col-6">
                                <fieldset>
                                    <legend class="border-bottom text-left">
                                        <div class="text-left" style="font-size: 0.5em">Api return</div>
                                    </legend>
                                    <div class="mw-100" id="data_result">&nbsp;</div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
