{% extends 'base.html.twig' %}

{% block title %}Hi!{% endblock %}

{% block body %}

        <!-- SAMPLE div {{ stimulus_controller('@symfony/ux-chartjs/chart') }}> </div-->

        <!-- Index-->
        <section class="index-section text-center mt-100" id="index">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-white mb-4">Conversion cryptographique</h2>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}
