doctrine:
    # @see https://symfony.com/doc/current/reference/configuration/doctrine.html

    # DB Abstraction Layer
    dbal:
        ### FOR ONE SIMPLE CONNECTIONS ##
        #     url: '%env(resolve:DATABASE_URL)%'
        #     driver: pdo_mysql
        #     dbname_suffix: ''
        # ...
        # ###

        ### FOR MULTIPLE CONNECTIONS ##
        # default_connection:       default
        # connections:
        #     default:
        #         url: '%env(resolve:DATABASE_URL)%'
        #         driver: pdo_mysql
        #         server_version: '5.6'
        # ...
        # ###

        # types: 
        #     custom: MyCustomType

    # Object Relational Mapping
    orm:
        ### MAPPING ###
        # Loads attribute configuration from the Entity
        # auto_mapping: false
        # mappings:
        #     AppBundle:
        #         type: xml
        #         dir: <SomeResources/config/doctrine>

        # Otherwise
        # SomeEntityNamespace:
        #     type: annotation
        #     dir: '%kernel.project_dir%/src/Entity'
        #     is_bundle: false
        #     prefix: App\Entity
        #     # Gives them an MyApp alias (so you can say things like MyApp:Post)
        #     alias: MyApp
        # ###

        ### SIMPLE CONNECTION ###

        mappings:
            AppBundle:
                # Use AttributeDriver class (with MappingDriverChain)
                alias: AppBundle # Can use "console AppBundle:<entity> --regenerate"
                type: attribute
                dir: 'Domain/Entity'
                prefix: 'App\AppBundle' # MUST begin with <mapping-name>\
                is_bundle: true # change 'dir' attribute as relative path 

        # @see https://symfony.com/doc/current/doctrine/multiple_entity_managers.html

        ### MULTIPLE CONNECTIONS ###
        # entity_managers:
        #     # This is doctrine.orm.default_entity_manager
        #     default:
        #         #auto_generate_proxy_classes: true
        #         #class_metadata_factory_name: Doctrine\ORM\Mapping\ClassMetadataFactory
        #         #default_repository_class:  Doctrine\ORM\EntityRepository
        #         mappings:
        #             AppBundle:
        #                 # Use AttributeDriver class (with MappingDriverChain)
        #                 alias: AppBundle # Can use "console AppBundle:<entity> --regenerate"
        #                 type: attribute
        # ...
        # ###

        entity_managers:
            default:
                #auto_generate_proxy_classes: true
                #class_metadata_factory_name: Doctrine\ORM\Mapping\ClassMetadataFactory
                #default_repository_

        #         connection: default
        #         naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        #         hydrators: ~
        #         dql: ~
        #         filters: ~
        #         mappings:
        #             App:
        #                 # Use AttributeDriver class (with MappingDriverChain)
        #                 alias: App # Can use "console App:<entity> --regenerate"
        #                 type: attribute 
        #                 dir: '%kernel.project_dir%/src/Entity'
        #                 prefix: 'App\Entity' # MUST begin with <mapping-name>\
        #                 is_bundle: false
