{% extends 'base.html.twig' %}

{% block content %}

    <h1>AWS Amazon Web Services</h1>

    <div>
        <h2>DynamoDb</h2>
        <div>
            <span>TableName: {{ dynamodb.TableNames[0] }}</span>
        </div>
    </div>

{% endblock %}