<?php

/**
 * @extends ServiceEntityRepository<Log>
 *
 * IObjectRepository
 * @method Log|null find($id, $lockMode = null, $lockVersion = null) => getEntityManager($entityName)->find($id)
 * @method Log|null findOneBy(array $criteria, array $orderBy = null)
 * @method Log[]    findAll()
 * @method Log[]    findBy(array $criteria, array $orderBy = null, $limit = null, $offset = null)
 *                  -
 *                  createQueryBuilder($alias, $indexBy = null)
 *                  createNamedQuery($queryName)
 *                  getEntityManager(): EntityManager
 *
 * @SuppressWarnings(PHPMD.BooleanArgumentFlag)
 */

/*
($doctrine)
ManagerRegistry extends ConnectionRegistry
    getConnection(?string $name = null)
    -
    getManager(?string $name = null): ObjectManager
    getRepository(string $persistentObject): ObjectRepository
    getManagerForClass(string $class): ObjectManager

ObjectManager
    find(string $className, $id) => getRepository($className)->find($id)
    persist(object $object)
    remove(object $object)
    flush()
    getRepository(string $className): ObjectRepository
    getClassMetadata(string $className)

EntityManager
    __construct(Connection)
    getConnection()
    beginTransaction()
    commit()
    createQuery($dql = '')
    find($className...)
    getUnitOfWork()
    getHydrator($hydrationMode)
    remove($entity)
    detach($entity)
    persist($entity)
    getRepository($entityName): ObjectRepository
*/