###########
# PHPSTAN #
###########

# Website
# @see https://phpstan.org

# CODE
# @see https://github.com/phpstan/phpstan
# @see https://github.com/phpstan/phpstan-symfony

# DOC
# @see https://phpstan.org/config-reference

# includes:
# 	- extension.neon
#   - rules.neon
#     Generated currents errors with "bin/phpstan analyse --generate-baseline"
#   - phpstan-baseline.neon

parameters:
    # Rules level 
    level: 8

    # Cache path
    tmpDir: ../../var/cache/phpstan

    # Analysed folders
    paths:
        - ../../src

    # ignore
    excludePaths:
        - ../../cest/*
        - ../../spec/*
        - ../../tests/*
        - ../../tools/*
    
    # Stub files, readed for PhpDoc inside
    stubFiles:
        - phpstan.sample.stub

    reportUnmatchedIgnoredErrors: false

    # Level 6 avoid
    # checkMissingIterableValueType: true 
    # checkGenericClassInNonGenericObjectType: true

    ignoreErrors:
        - '#Access to an undefined property App\\AppBundle\\Common\\AppRequest.*#'
#       - '#Sample [a-zA-Z0-9\\_]+::doFoo\(\)#'
