
    <!-- Menu -->
    <div class="d-flex flex-column flex-md-row align-items-center p-3 box-shadow justify-content-center">
        <nav class="">
            <a href="/">Home</a> &nbsp;
            <a href="/admin">Admin</a> &nbsp;
            <a href="/aws">AWS</a> &nbsp;
            <a href="/cloud">Cloud</a> &nbsp;
            <a href="/data">Data</a> &nbsp;
            <a href="/front">Front</a> &nbsp;
            <a href="/vuejs2">VueJs</a> &nbsp;

        </nav>
    </div>
    <!-- /menu -->


    {# <div class="px-4 px-lg-5 h-100 align-items-center justify-content-center">
        <div class="justify-content-center">
            <div class="m-4 text-center">
                

                
            </div>
        </div>
    </div> #}
{# <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">Features</a>
        <a class="p-2 text-dark" href="#">Enterprise</a>
        <a class="p-2 text-dark" href="#">Support</a>
        <a class="p-2 text-dark" href="#">Pricing</a>
      </nav> #}